<!DOCTYPE html>
<html>
  <head>
    <title>TailorProtein Studio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>TailorProtein Studio</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">All mixes</a> |
          <a href="{{ url_for('create')}}">Create a mix!</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this app is
          <a href="https://github.com/dbdesign-students-spring2024/7-web-app-sophiajiangyi"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
