{% extends 'base.html' %}
{% block container %}
<h2>Step 5: Design Your Label</h2>
<p>Current Mix: {{ data.base }} base with {{ data.flavor }} flavor and {{data.nutrition}} and a {{ data.texture }} texture.</p>
<form method="POST" action="{{ url_for('create') }}">
  <input type="hidden" name="step" value="5">
  <input type="hidden" name="navigation" value="next">
  <p>Design your label:
    <input type="text" name="name" required>
  </p>
  <p>
    <button type="submit" onclick="document.getElementsByName('navigation')[0].value='prev';">Previous</button>
    <button type="submit" onclick="document.getElementsByName('navigation')[0].value='next';">Finish</button>
  </p>
</form>
{% endblock %}
