{% extends 'base.html' %}
{% block container %}
<h2>Step 1: Choose Your Base</h2>
<p>Current Mix: __ base with __ flavor and __ nutrition and a __ texture.</p>
<form method="POST" action="{{ url_for('create') }}">
  <input type="hidden" name="step" value="1">
  <p>Choose your base:
    <select name="base" required>
      <option value="Whey">Whey Protein: high protein, quick absorption</option>
      <option value="Pea">Pea Protein: plant-based, rich in iron</option>
      <option value="Hemp">Hemp Protein: plant-based, high protein, with omega-3 and omega-6 fatty acids</option>
    </select>
  </p>
  <p><input type="submit" value="Next"></p>
</form>
{% endblock %}
