{% extends 'base.html' %}
{% block container %}
<h2>Edit Step 2: Flavor It Up</h2>
<p>Original Mix: {{ old_data.base }} base with {{ old_data.flavor }} flavor and {{old_data.nutrition}} and a {{ old_data.texture }} texture.</p>
<p>New Mix: {{ data.base }} base with __ flavor and __ nutrition and a __ texture.</p>
<form method="POST" action="{{ url_for('edit', mongoid=mongoid, step=2) }}">
  <input type="hidden" name="step" value="2">
  <input type="hidden" name="navigation" value="next">
  <p>Flavor it up:
    <select name="flavor" required>
      <option value="Chocolate">Chocolate: a classic choice that pairs well with virtually any addition</option>
      <option value="Vanilla">Vanilla: light and versatile, perfect for blending with fruits and nuts</option>
      <option value="Strawberry">Strawberry: great for a sweeter, fruitier shake</option>
      <option value="Banana">Banana: adds a creamy texture and pairs well with other strong flavors</option>
      <option value="Coffee">Coffee: ideal for a morning shake or an energizing boost</option>
      <option value="Cookies and Cream">Cookies and Cream: a fun, dessert-like option</option>
      <option value="Matcha">Matcha: offers a distinct taste and a boost of antioxidants</option>
      <option value="Peanut Butter">Peanut Butter: adds a rich, nutty flavor and extra protein</option>
    </select>
  </p>
  <p>
    <button type="submit" onclick="document.getElementsByName('navigation')[0].value='prev';">Previous</button>
    <button type="submit" onclick="document.getElementsByName('navigation')[0].value='next';">Next</button>
  </p>
</form>
{% endblock %}
